<p>references works!</p>
<div class="row" style="padding-top:20px;padding-left:20px;padding-right:20px">
  <div class="col-lg-6">

            <div class="card">
            <div class="card-header text-center">
             <h6 class="card-title">TUNISIE</h6>
               <img #file type="file" accept='image/*'src="assets/images/Tunisie.png"  height="50" width="100"class="img-fluid"style="padding-top:1px"/>
            </div>

            <div class="card-body">
              <img #file type="file" accept='image/*'src="assets/images/CapeFinance.png"  height="50" width="200"class="img-fluid"style="padding-top:1px"/>
              <img #file type="file" accept='image/*'src="assets/images/STBBanque.png"  height="75" width="200"class="img-fluid"style="padding-top:1px"/>
              <img #file type="file" accept='image/*'src="assets/images/STBFinance.png"  height="50" width="200"class="img-fluid"style="padding-top:1px"/>
              <img #file type="file" accept='image/*'src="assets/images/MinistreAg.png"  height="50" width="100"class="img-fluid"style="padding-top:1px"/>
              <img #file type="file" accept='image/*'src="assets/images/Axis.png"  height="50" width="100"class="img-fluid"style="padding-top:1px"/><br>
            </div>
            <div class="card-footer text-muted text-center">
              <img #file type="file" accept='image/*'src="assets/images/logo.png"  height="25" width="30"class="img-fluid"style="padding-left:1px"/>
               <a href="http://localhost:4200/">BNS ENGINEERING</a>
            </div>
        </div>
   </div>
<!-- *************-->
<div class="col-lg-6">

          <div class="card">
          <div class="card-header text-center">
           <h6 class="card-title">TCHAD</h6>
             <img #file type="file" accept='image/*'src="assets/images/Tchad.png"  height="50" width="100"class="img-fluid"style="padding-top:1px"/>
          </div>

          <div class="card-body text-center">
            <img #file type="file" accept='image/*'src="assets/images/CnpsTchad.png"  height="75" width="210"class="img-fluid"style="padding-top:1px"/>
          </div>
          <div class="card-footer text-muted text-center">
            <img #file type="file" accept='image/*'src="assets/images/logo.png"  height="25" width="30"class="img-fluid"style="padding-left:1px"/>
             <a href="http://localhost:4200/">BNS ENGINEERING</a>
          </div>
      </div>
 </div>
</div>
<!--*****row2*****-->
<div class="row" style="padding-top:20px;padding-left:20px;padding-right:20px">
  <div class="col-lg-6">

            <div class="card text-center">
            <div class="card-header">
             <h6 class="card-title">CONGO</h6>
               <img #file type="file" accept='image/*'src="assets/images/Congo.png"  height="50" width="100"class="img-fluid"style="padding-top:1px"/>
            </div>
            <div class="card-body">
              <img #file type="file" accept='image/*'src="assets/images/RDCongo.png"  width="180" height="50"class="img-fluid"style="padding-top:1px"/>
            </div>
            <div class="card-footer text-muted">
              <img #file type="file" accept='image/*'src="assets/images/logo.png"  height="25" width="30"class="img-fluid"style="padding-left:1px"/>
               <a href="http://localhost:4200/">BNS ENGINEERING</a>
            </div>
        </div>
   </div>
<!-- *************-->
<div class="col-lg-6">

          <div class="card text-center">
          <div class="card-header">
           <h6 class="card-title">CAMEROUN</h6>
             <img #file type="file" accept='image/*'src="assets/images/Cameroun.png"  height="50" width="100"class="img-fluid"style="padding-top:1px"/>
          </div>

          <div class="card-body">
             <img #file type="file" accept='image/*'src="assets/images/GuichetCameroun.png"  height="75" width="150"class="img-fluid"style="padding-top:1px"/>
            <img #file type="file" accept='image/*'src="assets/images/PortCameroun.png"  height="75" width="150"class="img-fluid"style="padding-top:1px"/>
          </div>
          <div class="card-footer text-muted">
            <img #file type="file" accept='image/*'src="assets/images/logo.png"  height="25" width="30"class="img-fluid"style="padding-left:1px"/>
             <a href="http://localhost:4200/">BNS ENGINEERING</a>
          </div>
      </div>
 </div>
</div>
