
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<router-outlet></router-outlet>


<div class="row">
 <div class="col-lg-7" style="padding-left:35px">
   <h2 style="color: #008080;padding-top:35px">  A PROPOS</h2>
   <div class="card" >
    <div class="card-body">
     <p class="font-italic">

Fondée depuis 2010 dans une orientation de développement du digital, BNS-ENGINNERING est une Société de Service et d’Ingénierie Informatique (SSII) spécialisée dans le développement de nouveaux usages, la digitalisation, les domaines e-Finance & e-Government et le développement de l’entreprise digitale.
Sur ce créneau, BNS-ENGINNERING offre à une clientèle composée principalement de l’administration et de grands comptes une large gamme de prestations et de produits, allant du conseil et de la conception à la réalisation et à la maintenance des systèmes d’information, proposant aussi bien son savoir-faire technique que son expertise fonctionnelle.<br><br>
Son évolution lui permet aujourd’hui de s’adresser à tous les domaines d’activité, à travers notamment son offre assez complète dans les domaines e-Governement (dématérialisation des procédures et des services, plateforme Workflow, systèmes d’archivage électronique-GED, plateformes d’échanges des données), e-Finance et particulièrement le marché financier (la bourse, les intermédiaires en bourse, les banques, les sociétés de gestion), e-Business & ERP Métiers, ainsi que le Consulting et l’ingénierie des solutions (Etudes et Conception de Systèmes).<br><br>
Depuis ses débuts, BNS-ENGINEERING a su construire une relation de confiance avec ses clients tout en assurant des prestations innovantes, de qualité et à forte valeur ajoutée ainsi que la performance requise des services délivrés.
BNS ENGINEERING est engagée dans un processus d’amélioration continue dans la construction de relations durables avec ses clients et partenaires stratégiques.<br>
Dans la conduite et la réalisation de nos projets, l’éthique des affaires est une exigence primordiale de notre action au quotidien. Une exigence que nous appliquons à nos clients, à nos fournisseurs et à nos partenaires.

       </p>
   </div>
  </div>
 </div>

    <div class="col-lg-5"style="padding-top:80px">
      <img #file type="file" accept='image/*'src="assets/images/apropos.png"  height="3500" width="700"class="img-fluid" style="padding-top:5px;"/>
    </div>
</div>

<h2 style="color: #008080;padding-top:35px;margin-left:20px">  EXPERTISE</h2>
<div class="card" style="margin-left:20px;margin-right:20px;">
<img #file type="file" accept='image/*'src="assets/images/expertise1.png"  height="30" width="700"class="img-fluid" style="padding-left:35px;"/>

       <div class="card-body">
       <p class="font-italic">

Une équipe en dématérialisation et système d’informations, en ingénierie de développement, en finance et en consulting, mettent leurs compétences à disposition pour créer la solution qui répond aux mieux aux besoins.<br>
L’équipe BNS s’appuie sur un référentiel de gestion de projet PMI pour l’initiation, la planification, l’exécution, la maitrise et la clôture des différentes phases du projet ainsi que des approches Agile dans la réalisation des projets.<br>
Disposant d’une forte expertise et un savoir-faire qui s’est développé au fil des années, reconnus sur le marché national et international, BNS ENGINEERING accorde une haute importance à la maitrise totale des processus métier, la réingénierie et le développement de connaissances spécialisées afin d’aboutir à des solutions à haute valeur ajoutée.
     </p>
     </div>
     </div>
<!-- ********Modal*******


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
-->
