<!-- Footer -->

<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>BNS</h4>
            <ul class="list-unstyled">
              <li>Tel: +216.70.526.315</li>
              <li>Fax:	+216.70.526.314</li>
              <li>E-mail:	contact@bns.tn</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Références</h4>
            <ul class="list-unstyled">
              <li><a href="http://localhost:4200/references">Nos Références</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Contact</h4>
            <ul class="list-unstyled">
              <li><a href="http://localhost:4200/contact">Contactez nous</a></li>

            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Suivez nous</h4>
          <ul class="social-network social-circle">

            <li><a href="https://www.facebook.com/BNS-Engineering-577223005775864/"  title="Facebook" type="image/x-icon" href="assets/images/logo.png"><i class="assets/images/logo.png"></i></a></li>
            <li><a href="#" class="fa fa-2x fa-fw fa-info" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">&copy;bns.tn</p>
        </div>
      </div>

    </div>
  </div>
</footer>


