<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators" style="padding-top:3px;">
  <ng-template ngbSlide *ngFor="let image of images; index as i">
    <div class="picsum-img-wrapper">
      <img [src]="image" alt="Random slide {{i + 1}}"  width="1500px" height="370px" >
    </div>
    <div class="carousel-caption">

      <h3>Nous sommes pêts à vous accompagner dans l'accomplissement de vos projets </h3>
    </div>
  </ng-template>
</ngb-carousel>
