<router-outlet></router-outlet>
<div class="col-lg-12" style="padding-left:20px;padding-top:20px">
     <div class="card"style=" border: 2px solid rgba(91, 192, 222, 0.75);border-radius: 40px;">
      <div class="card-body">
       <h6 class="font-italic" class="text-center" style="color: #008080;">
    BNS propose des formations de haut niveau dans les domaines de commerce international, commerce électronique, techniques bancaire, à titre indicatif :
      </h6>
     </div>
    </div>
</div>


<div class="col-lg-11" style="padding-left:35px;padding-top:20px">
  <table class="table" style="padding-left:15px;">
      <thead class="thead-light">
    <tr>
      <th scope="col">Désignation</th>
      <th scope="col">Objectifs</th>
      <th scope="col">Cible</th>
    </tr>
      </thead>
      <tbody>
    <tr>
      <th scope="row">Méthodes comparées des paiements internationaux : Le choix adéquat</th>
      <td>Donner un aperçu général sur :
        <li> Le compte ouvert</li>
        <li>Le paiement en avance</li>
         <li>La remise documentaire dite Collection</li>
        <li>La lettre de crédit ou le crédit documentaire</li></td>
        <th scope="row">Directeurs de l’Export, Conseillers exportateurs/importateurs, chefs d’agence.</th>
    </tr>

    <tr>
      <th scope="row">Les documents financiers, les documents commerciaux, les documents de transport et les nouveaux documents liés à la sécurité, manipulés dans le commerce international</th>
      <td><li>Toutes les procédures d’Import/Export dépendent d’une manière critique des documents de différent type</li></td>
        <th scope="row">Acteurs du commerce extérieur</th>
    </tr>

    <tr>
      <th scope="row">Le contrat de vente international</th>
      <td>
        <li>Sensibiliser les exportateurs à l’importance capitale du contrat de vente international. C’est le fondement de réussite des transactions Export.</li></td>
        <th scope="row">Conseillers clientèle en Exports/ Import, Banquiers juristes, services contentieux</th>
    </tr>

    <tr>
      <th scope="row">La remise documentaire</th>
      <td>
        <li>Permettre à l’opérateur de monter une remise documentaire correcte et fonctionnelle.</li>
        <li>Connaître et d’identifier les risques potentiels</li>
      </td>
        <th scope="row">Conseillers en Export/import, cadres des assurances du commerce extérieur, directeurs
            juridiques, Banquiers de l’international.</th>
    </tr>

    <tr>
      <th scope="row">Les lettres de crédit</th>
      <td>
        <li>Maitriser comment s’en servir correctement à travers la lettre de crédit.</li>
      </td>

        <th scope="row">Conseillers en Export/Import, Cadres bancaires des agences, Douanes.</th>
    </tr>

    <tr>
      <th scope="row">Les incoterms du commerce international</th>
      <td>Donner un aperçu général sur :
        <li>Maîtriser les coûts cachés de la logistique du transport, des assurances, du chargement et de déchargement de la marchandise.
        </li>
        <li>Eviter les pièges qui se faufilent à travers ces conditions.</li>
         </td>
        <th scope="row">Directeurs Export/import, cadres des Assurances du commerce extérieur, Banquiers-Conseillers de clientèle Export, Douaniers, Cadres du Ministère du commerce.</th>
    </tr>

    <tr>
      <th scope="row">Les garanties bancaires</th>
      <td>Donner un aperçu général sur :
        <li>Faire connaître les types de garanties bancaires internationales offertes par les banques. </li>

         </td>
      <th scope="row"> Export de services ou de savoir-faire, Prestations d’architectes, Cadres des Assurances du commerce extérieur, agents de l’administration douanière, cadres des banques.
</th>
    </tr>

      </tbody>
  </table>
</div>


<div class="col-lg-12" style="padding-left:20px">
     <div class="card" >
      <div class="card-body">
       <p class="font-italic">

En associant ses compétences métier et de conduite de projets, BNS ENGINEERING intervient désormais dans plusieurs domaines du développement, partant des prestations d’études de faisabilité et d’avant-projet à la réalisation des études détaillées. Aussi, BNS ENGINEERING, assure des missions de pilotage AMOA/MOE, d’assistance technique, d’expertise et de conduite de changement. Ceci, pour répondre aux nouveaux enjeux de time to market et d’amélioration de la qualité de services attendus par les directions métiers.<br>
 BNS propose, une large gamme de prestations organisées à forte valeur ajoutée autour de ses métiers.

      </p>
     </div>
    </div>
</div>

<!--******row1******-->

<div class="row">
 <div class="col-lg-5"style="margin-left:20px">
   <h5 style="color: #008B8B;padding-top:20px;">  Marchés Financiers et Banques </h5>

  <div class="card">
   <div class="card-body">

      Notre offre s’adresse à l’ensemble des services des acteurs ayant besoin d’intervenir sur les marchés financiers (salles de marchés, Gestion des trésoreries opérations, finances,..).<br><br>

      <p>
          <button type="button" class="btn btn-outline-secondary" ngbPopover="En savoir plus!" triggers="mouseenter:mouseleave" popoverTitle=" BNS ENGINEERING"(click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            Plus...
          </button>
      </p>
        <div id="collapseExample" [ngbCollapse]="isCollapsed">
          <div class="card">
            <div class="card-body">
              <p class="font-italic">
              Elle offre le support nécessaire au déploiement et à la maintenance d’un système d’information efficace et créateur de valeur pour l’entreprise.

              <li>Des solutions sur mesure adaptées aux contextes et besoins de nos clients, au meilleur coût</li>
              <li>Un savoir-faire construit grâce à des interventions sur des projets d’envergure ou stratégiques</li>
              <li>Des consultants experts passionnés par leur métier, spécialistes des SI financiers</li>
              <li>Des interventions orientées conseil (propositions de solutions) et assistance / accompagnement (implémentation des solutions).</li>
               </p>
            </div>
          </div>
        </div>

  </div>
</div>
</div>

<div class="col" style="padding-left:20px;margin-right:20px;">
 <h5 style="color: #008B8B; padding-top:20px;">Facilitation du commerce extérieur et des Transports </h5>
 <div class="card">
  <div class="card-body" style="padding-right:20px;">

     La facilitation du commerce et des transports revêt une importance croissante pour les pays qui ont besoin de services rapides, fiables et fréquents pour acheminer leurs exportations et leurs importations et qui doivent aussi se conformer à des prescriptions nouvelles et plus strictes en matière de sécurité pour mieux participer à la production et aux échanges mondiaux.<br><br>

     <p>
         <button type="button" class="btn btn-outline-secondary" ngbPopover="En savoir plus!" triggers="mouseenter:mouseleave" popoverTitle=" BNS ENGINEERING"(click)="isCollapsed = !isCollapsed"
                 [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample1">
           Plus...
         </button>
     </p>
       <div id="collapseExample1" [ngbCollapse]="isCollapsed">
         <div class="card">
           <div class="card-body">
             <p class="font-italic">
               Dans ce cadre l’équipe BNS ENGINEERING, développe son offre de conseils en la matière partant des études logistiques à l’élaboration de schémas directeurs pour la facilitation du commerce et des transports :
                <br>
               <li>Commerce extérieur : Importation, Exportation, Transit…</li>
               <li>Transport et logistique : Maritime, Aérien, Fluvial, Ferroviaire, Routier</li>
              </p>
           </div>
         </div>
       </div>

 </div>
</div>

 </div>
</div>

<!-- ***col2***-->


<div class="col-lg-12" style="padding-left:20px;margin-top:20px">
     <div class="card"style=" border: 2px solid rgba(91, 192, 222, 0.75);border-radius: 40px;" >
      <div class="card-body">
       <h5 class="font-italic" class="text-center" style="color: #008080;">
    Faire bénéficier nos clients des conseils à forte valeur ajoutée.
      </h5>
     </div>
    </div>
</div>


<!--***row2***-->


<div class="row">
 <div class="col-lg-6" style="margin-left:20px">
   <h5 style="color: #008B8B;padding-top:20px">  Ingénierie de l’Eau, Météorologie, Agriculture et Environnement</h5>

  <div class="card" >
   <div class="card-body">


  Les compétences de BNS ENGINEERING couvrent tous les aspects des domaines de l’eau, de la météorologie, de l’agriculture et de l’environnement. Elles s’articulent, en particulier, autour de la problématique de gestion intégrée des ressources en eau, cherchant à garantir l’adéquation entre disponibilités et besoins, dans un souci de préservation des milieux et de la qualité.<br><br>
<p>
    <button type="button" class="btn btn-outline-secondary" ngbPopover="En savoir plus!" triggers="mouseenter:mouseleave" popoverTitle=" BNS ENGINEERING"(click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Plus...
    </button>
</p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
        Nos interventions couvrent l'ensemble des missions d'ingénierie et permettent d'accompagner les projets des études de faisabilité, à l’étude détaillée, jusqu'au contrôle et supervision des travaux.<br>
        Face à l'urgence climatique, <br>
        BNS Engineering a élargi sa démarche en matière de l’ingénierie de l’eau et de l’environnement pour traiter tant des questions de gouvernance que des questions d'ordre technique

      </div>
    </div>
  </div>

  </div>
</div>
</div>

<div class="col" style="padding-left:5px;margin-right:20px">
 <h5 style="color: #008B8B;padding-top:20px">Systèmes d’information</h5>
 <div class="card" >
  <div class="card-body">
   <p class="font-italic">
       Sur la base d’une démarche orientée client, BNS ENGINEERING fournit des prestations à haute valeur ajoutée dans les domaines des systèmes d’information et des solutions métier.
  </p>
  <br><br>

  <p>
      <button type="button" class="btn btn-outline-secondary" ngbPopover="En savoir plus!" triggers="mouseenter:mouseleave" popoverTitle=" BNS ENGINEERING"(click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample1">
        Plus...
      </button>
  </p>
    <div id="collapseExample1" [ngbCollapse]="isCollapsed">
      <div class="card">
        <div class="card-body">
          <p class="font-italic">
            <li>Ingénierie des systèmes d’information; Études de diagnostic, de conception et d’évaluation des systèmes d’information.</li>
            <li>Réalisation des prestations d’étude et de conception pour le renforcement des Systèmes d’Information.</li>
            <li>Conception, normalisation et simplification des procédures administratives et techniques.</li>
            <li>Audit Informatique des Systèmes d’Information.</li>
            <li>Élaboration de Schémas Directeurs Informatiques, Intégration des solutions informatiques.</li>
            <li>Transmettre des savoir-faire et assister techniquement les professionnels de l’agriculture et de l’environnement.</li>
            <li>Mise en place de projets innovants.</li>
            <li>Optimisation des processus de gestion.</li>
           </p>
        </div>
      </div>
    </div>






 </div>
</div>

 </div>
</div>
