<router-outlet></router-outlet>

<div class="row" style="margin-top:20px;">
   <div class="col-lg-6">
     <div class="card" style="margin-left:20px;">
      <div class="card-body">
          <img #file type="file" accept='image/*'src="assets/images/e-gov.png"  height="100" width="150"class="img-fluid"style="padding-top:15px;"/>
          <h4 style="color: #00BFFF;padding-top:35px"> Pôle e-Governement</h4>
         <p class="font-italic">
       BNS ENGINEERING accompagne les acteurs du secteur public dans la modernnisation et la digitalisation de leurs services. <br>
        Pour répondre à ces nouvelles exigences de rapidité, de disponibilité et de simplicité,
        les administrations doivent donc revoir leur approche du service rendu,
        leurs modes de gouvernance et leurs procédures internes.<br><br>
        <button class="btn btn-lg btn-outline-primary"style="border-radius: 40px;" (click)="openGouvernement()">En savoir plus...</button><br>
</p>
 </div>
</div>
</div>

 <div class="col-lg-6">
   <div class="card" style="padding-left:20px;margin-right:20px;">

   <div class="card-body">
     <img #file type="file" accept='image/*'src="assets/images/e-finance.png"  height="100" width="150"class="img-fluid"style="padding-top:15px"/>
   <h4 style="color: #00BFFF;padding-top:35px"> Pôle e-Finance (Marché Financier)</h4>
      <p class="font-italic">
        BNS ENGINEERING accompagne les acteurs du marché financier à répondre à leurs nouveaux enjeux de transformation digitale et à s’adapter aux mutations des métiers.<br>
        Une bonne compréhension des tendances des marchés financier aussi bien les entreprises que les spécialistes à devenir plus compététifs.<br><br>
        <button class="btn btn-lg btn-outline-primary"style="border-radius: 40px;" (click)="openFinance()">En savoir plus...</button><br>
       </p>
    </div>
</div>
</div>
</div>

<!--*** ***-->

<div class="row" style="margin-top:20px">
   <div class="col-lg-6">
     <div class="card"style="margin-left:20px;">

     <div class="card-body">
       <img #file type="file" accept='image/*'src="assets/images/e-business.png"  height="100" width="150"class="img-fluid"style="padding-top:15px;"/>
     <h4 style="color: #00BFFF;padding-top:35px"> Pôle e-Business (ERP Métiers)</h4>
         <p class="font-italic">
           BNS ENGINEERING accompagne les institutions et les entrprises dans la transformation de leurs systèmes d’information.<br>
    BNS-ENGINEERING a pour objectif de mettre en place des projets e-business pour ses clients
    et contribuer largement au développement de l’entreprise digitale et proposer des solutions techniques
     et organisationnelles à ses clients.<br><br>
     <button class="btn btn-lg btn-outline-primary" style="border-radius: 40px;" (click)="openBusiness()">En savoir plus...</button><br>
     </p>

 </div>
 </div>
</div>

 <div class="col-lg-6">
   <div class="card"style="padding-left:20px;margin-right:20px;">

   <div class="card-body">
     <img #file type="file" accept='image/*'src="assets/images/consulting.png"  height="100" width="150"class="img-fluid"style="padding-top:15px"/>
   <h4 style="color: #00BFFF;padding-top:35px"> BNS CONSULTING -TRAINING</h4>
      <p class="font-italic">
        En associant ses compétances métier et de conduite de projets, BNS-ENGINEERING intervient désormais dans plusieurs domaines du développement, partant des prestations d’études de faisabilité et d’avant-projet à la réalisation des études détaillés.<br><br>
     <button class="btn btn-lg btn-outline-primary" style="border-radius: 40px;" (click)="openConsulting()">En savoir plus...</button><br>

       </p>
    </div>
  </div>
  </div>
</div>
